version: "3.7"
services:
  db:
    image: postgres:15.2-alpine
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: develop
      POSTGRES_USER: acid
    ports:
      - "5432:5432"
  api:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.dev
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USERNAME: acid
      DB_PASSWORD: password
      DB_DATABASE: develop
      DEPLOY_ENV: dev

    working_dir: /home/node/
    volumes:
      - "./src:/home/node/src"
      - "./test:/home/node/test"
    entrypoint:
      - /bin/sh
      - -c
      - |
        ./entrypoint.sh
    ports:
      - "8080:8080"
    networks:
      - default
